* {

    margin: 0;
    padding: 0;
}


#middle {
    margin-top: 100px;
    position: fixed;
    height: 100%;
    display: flex;
    justify-content: center;
    width: 15%;
}
.left-nav
{

    height: 100%;
}

#header {
    background-color: #fff;
    position: fixed;
    width: 100%;
    height: 100px;
    display: flex;
    z-index: 2;
}

.flex-box1 {
    width: 40%;
    height: inherit;
    display: flex;
    align-items: center;
    ;
    justify-content: center;
}

.logo {
    width: 250px;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 30px;
    margin-left: 20px;
}

.logo img {
    width: 220px;
}

.search-bar {
    width: 520px;
    height: 40%;
    border-radius: 10px;
    margin-right: 10px;
    display: flex;
    background: #d8d8db;
    align-items: center;
    overflow: hidden;

}

.search-bar input {
    font-family: Arial, Helvetica, sans-serif;
    height: 50px;
    width: 280px;
    outline: none;
    margin-left: 10px;
    background-color: #d8d8db;
    border: none;
    font-size: 17px;
}

.search-bar {
    box-shadow: 3px 3px 3px #ccc;
}

.search-btn {
    color: rgb(58, 56, 56);
    margin-left: 20px;
    float: left;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: left;
}

.flex-box2 {
    width: 40%;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-function {
    align-items: center;
    width: 100%;
    height: 40%;
    display: flex;
}

.menu-function a {
    font-family: Arial, Helvetica, sans-serif;
    width: 150px;
    height: 40px;
    margin-right: 10px;
    font-size: 17px;
    text-decoration: none;
    color: rgb(40, 36, 36);
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-function a:hover {
    color: rgb(19, 5, 217);
}


.flex-box3 {

    width: 20%;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: right;

}

.user-icon {
    margin-right: 20px;

}


.MAC {
    height: 40px;
    background-color: white;
    color: rgb(111, 111, 111);
    font-size: 18px;
    position: relative;
    left: 40px;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.select-1 {
    height: 40px;
    background-color: white;
    display: block;
    color: rgb(111, 111, 111);
    font-size: 17px;
    position: relative;
    left: 12px
}

.select-2 {
    height: 40px;
    background-color: white;
    display: block;
    color: rgb(111, 111, 111);
    font-size: 17px;
    position: relative;
    left: 12px
}

.select-3 {
    height: 40px;
    background-color: white;
    display: block;
    color: rgb(111, 111, 111);
    font-size: 17px;
    position: relative;
    left: 12px
}

.select-4 {
    height: 40px;
    background-color: white;
    display: block;
    color: rgb(111, 111, 111);
    font-size: 17px;
    position: relative;
    left: 12px
}

.select-5 {
    height: 40px;
    background-color: white;
    display: block;
    color: rgb(111, 111, 111);
    font-size: 17px;
    position: relative;
    left: 12px
}

.select-6 {
    height: 40px;
    background-color: white;
    display: block;
    color: rgb(111, 111, 111);
    font-size: 18px;
    position: relative;
    left: 12px
}

li {
    color: rgb(111, 111, 111);
    position: relative;
    left: 20px
}



.software-tiltle {
    border-radius: 10px;
    background-color: rgb(241, 244, 253);
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.software-list-text {
    font-size: 20px;
    color: blue;
    font-family: Arial, Helvetica, sans-serif;


}

a:hover {
    color: #5466e7;

}

.software-item-text {
    text-decoration: none;

}

.software-tiltle {
    text-decoration: none;
}

.list-software {
    margin-left: 30%;
}

.software-item {
    margin: 10px 0px 20px 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.software-item:hover {
    color: #5466e7;
}

.logo-apple {
    margin: 0px 10% 5px 0px;
    font-size: 1.5em;
    color: blue;
}

.logo-game {

    margin: 0px 10% 0px -15px;
    font-size: 1.5em;


}

.game-tiltle {
    border-radius: 10px;
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.game-tiltle {
    text-decoration: none;
    color: gray;
}

.game-list-text {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;

}

.logo-game:hover, .game-tiltle:hover {
    background-color: rgb(241, 244, 253);
    color: blue;
}

.image {
    width: 100%;
    height: 270px;
    margin-top: 20px;
    margin: 10px 0px 0px opx;
    border-radius: 25px;
    box-shadow: 2px 2px 2px 2px rgb(175, 173, 173);
}
#main-content{
    width: 100%;
    height: 3060px;

}
#middle-content {
    
   
    margin-top: 100px;
    position: absolute;
    display: block;
    height: 3060px;
    width: 85%;
    margin-left: 15%;
    border-radius: 20px;
    background-color:#F9F8FD;
    z-index: 1;

}

.part-1 {
    position: absolute;
    height: 260px;
    width: 65%;
    background-color: rgb(116, 113, 223);
    border-radius: 10px;
    margin-left: 1.5%;
    margin-top: 25px;

}

.big-tiltle {
    font-size: 28px;
    color: white;
    width: 400px;
    margin-left: 30px;
    position: relative;
    top: 15px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
}

.small-tiltle {
    font-weight: normal;
    color: rgb(214, 213, 241);
    margin-top: 30px;
    margin-left: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
}

.part1-pic {
    position: relative;
    left: 500px;
    bottom: 140px;
}

.cricle-1 {
    border-radius: 50%;
    background-color: white;
    fill: none;
    margin-bottom: 140px;
    margin-left: 100px;
}

.cricle-2 {
    border-radius: 50%;
    fill: none;
    background-color: rgb(156, 156, 164);
    margin-bottom: 140px;
    margin-left: 5px;
}
.part1-l-r
{
  
}

.part-1-left {
    
    position: absolute;
    height: 260px;
    width: 30%;
    background-color: rgb(252, 199, 202);
    border-radius: 10px;
    margin-top: 25px;
    margin-left: 68%;
}

.part-1-left-big-tiltle {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(43, 44, 73);
    width: 200px;
    margin-top: 20px;
    margin-left: 20px;
    font-size: 25px;
    font-weight: 750;

    ;

}

.part-1-left-small-tiltle {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(87, 103, 242);
    margin-top: 10px;
    margin-left: 20px;

}

.part-1-left-pic {
    position: relative;
    left: 145 px;
    bottom: 66px;
}

.part-2 {
    height: 50px;
    width: 100%;
    position: absolute;
    margin-top: 280px;
}

.part-2-tiltle {
    width: 100%;
    font-size: 25px;
    margin-top: 40px;
    margin-left: 30px;
    color: rgb(36, 44, 81);
    font-family: Arial, Helvetica, sans-serif;
}

.part-2-all {
    padding-right: 40px;
    position: relative;
    bottom: 20px;
    font-size: 15px;
    float:right;
    color: rgb(94, 110, 232);
    font-family: Helvetica, sans-serif;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.part-3 {
    border-radius: 10px;
    position: absolute;
    margin-left: 1.5%;
    margin-top: 380px;
    height: 280px;
    width: 97%;
    background-color: white;

}

.column-1 {
    border-radius: 10px;
    width: 91%;
    margin-left: 0px;
    height: 100%;
    position: absolute;
}

.software-1 {
    height: 120px;
    width: 390px;
    position: absolute;
    margin-top: 28px;
    margin-left: 5px;
}

.software-1-icon {
    position: absolute;
    margin-left: 20px;
    height: 60px;
    width: 60px;
}

.software-1-name {
    font-size: 14px;
    position: absolute;
    margin-left: 100px;
    width: 190px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(61, 67, 98);
}

.software-1-tiltle {
    font-size: 11px;
    position: absolute;
    margin-left: 100px;
    margin-top: 45px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(165, 165, 181);
}

.software-1-dental {
    height: 28px;
    width: 70px;
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    background-color: white;
    border-radius: 8px;
    border: solid 1px rgb(89, 104, 218);
    color: rgba(4, 31, 234, 0.745);
    margin-left: 320px;
}

.software-1-dental:hover {
    background-color: blue;
    color: white;
}

.software-1-free {
    font-size: 11px;
    position: absolute;
    margin-left: 334px;
    margin-top: 38px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(156, 156, 166);
}

.software-2 {
    height: 120px;
    width: 390px;
    position: absolute;
    margin-top: 115px;
    margin-left: 5px;
}

.software-2-icon {
    position: absolute;
    margin-left: 20px;
    height: 60px;
    width: 60px;
}

.software-2-name {
    font-size: 14px;
    position: absolute;
    margin-left: 100px;
    width: 190px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(61, 67, 98);
}

.software-2-tiltle {
    font-size: 11px;
    position: absolute;
    margin-left: 100px;
    margin-top: 45px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(165, 165, 181);
}

.software-2-dental {
    height: 28px;
    width: 70px;
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    background-color: white;
    border-radius: 8px;
    border: solid 1px rgb(89, 104, 218);
    color: rgba(4, 31, 234, 0.745);
    margin-left: 320px;

}

.software-2-dental:hover {
    background-color: blue;
    color: white;
}

.software-2-free {
    font-size: 11px;
    position: absolute;
    margin-left: 334px;
    margin-top: 38px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(156, 156, 166);
}

.software-3 {
    height: 120px;
    width: 390px;
    position: absolute;
    margin-top: 200px;
    margin-left: 5px;
}

.software-3-icon {
    position: absolute;
    margin-left: 20px;
    height: 60px;
    width: 60px;
}

.software-3-name {
    font-size: 14px;
    position: absolute;
    margin-left: 100px;
    width: 190px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(61, 67, 98);
}

.software-3-tiltle {
    font-size: 11px;
    position: absolute;
    margin-left: 100px;
    margin-top: 45px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(165, 165, 181);
}

.software-3-dental {
    height: 28px;
    width: 70px;
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    background-color: white;
    border-radius: 8px;
    border: solid 1px rgb(89, 104, 218);
    color: rgba(4, 31, 234, 0.745);
    margin-left: 320px;

}

.software-3-dental:hover {
    background-color: blue;
    color: white;
}

.software-3-free {
    font-size: 11px;
    position: absolute;
    margin-left: 334px;
    margin-top: 38px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(156, 156, 166);
}

.column-2 {
   
    border-radius: 10px;
    width: 100%;
    margin-left:32.5%;
    height: 100%;
    position: absolute;
}

.software-4 {
    height: 120px;
    width: 390px;
    position: absolute;
    margin-top: 28px;
    margin-left: 5px;
}

.software-4-icon {
    position: absolute;
    margin-left: 20px;
    height: 60px;
    width: 60px;
}

.software-4-name {
    font-size: 14px;
    position: absolute;
    margin-left: 100px;
    width: 190px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(61, 67, 98);
}

.software-4-tiltle {
    font-size: 11px;
    position: absolute;
    margin-left: 100px;
    margin-top: 45px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(165, 165, 181);
}

.software-4-dental {
    height: 28px;
    width: 70px;
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    background-color: white;
    border-radius: 8px;
    border: solid 1px rgb(89, 104, 218);
    color: rgba(4, 31, 234, 0.745);
    margin-left: 320px;

}

.software-4-dental:hover {
    background-color: blue;
    color: white;
}

.software-4-free {
    font-size: 11px;
    position: absolute;
    margin-left: 334px;
    margin-top: 38px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(156, 156, 166);
}

.software-5 {
    height: 120px;
    width: 390px;
    position: absolute;
    margin-top: 115px;
    margin-left: 5px;
}

.software-5-icon {
    position: absolute;
    margin-left: 20px;
    height: 60px;
    width: 60px;
}

.software-5-name {
    font-size: 14px;
    position: absolute;
    margin-left: 100px;
    width: 190px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(61, 67, 98);
}

.software-5-tiltle {
    font-size: 11px;
    position: absolute;
    margin-left: 100px;
    margin-top: 45px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(165, 165, 181);
}

.software-5-dental {
    height: 28px;
    width: 70px;
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    background-color: white;
    border-radius: 8px;
    border: solid 1px rgb(89, 104, 218);
    color: rgba(4, 31, 234, 0.745);
    margin-left: 320px;

}

.software-5-dental:hover {
    background-color: blue;
    color: white;
}

.software-5-free {
    font-size: 11px;
    position: absolute;
    margin-left: 334px;
    margin-top: 38px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(156, 156, 166);
}

.software-6 {
    height: 120px;
    width: 390px;
    position: absolute;
    margin-top: 200px;
    margin-left: 5px;
}

.software-6-icon {
    position: absolute;
    margin-left: 20px;
    height: 60px;
    width: 60px;
}

.software-6-name {
    font-size: 14px;
    position: absolute;
    margin-left: 100px;
    width: 190px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(61, 67, 98);
}

.software-6-tiltle {
    font-size: 11px;
    position: absolute;
    margin-left: 100px;
    margin-top: 45px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(165, 165, 181);
}

.software-6-dental {
    height: 28px;
    width: 70px;
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    background-color: white;
    border-radius: 8px;
    border: solid 1px rgb(89, 104, 218);
    color: rgba(4, 31, 234, 0.745);
    margin-left: 320px;

}

.software-6-dental:hover {
    background-color: blue;
    color: white;
}

.software-6-free {
    font-size: 11px;
    position: absolute;
    margin-left: 334px;
    margin-top: 38px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(156, 156, 166);
}

.column-3 {
    border-radius: 10px;
    width: 100%;
    margin-left: 66%;
    position: absolute;
    
}

.software-7 {
    height: 120px;
    width: 390px;
    position: absolute;
    margin-top: 28px;
    margin-left: -5px;
}

.software-7-icon {
    position: absolute;
    margin-left: 20px;
    height: 60px;
    width: 60px;
}

.software-7-name {
    font-size: 14px;
    position: absolute;
    margin-left: 100px;
    width: 170px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(61, 67, 98);
}

.software-7-tiltle {
    font-size: 11px;
    position: absolute;
    margin-left: 100px;
    margin-top: 45px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(165, 165, 181);
}

.software-7-dental {
    height: 28px;
    width: 70px;
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    background-color: white;
    border-radius: 8px;
    border: solid 1px rgb(89, 104, 218);
    color: rgba(4, 31, 234, 0.745);
    margin-left: 320px;
}

.software-7-dental:hover {
    background-color: blue;
    color: white;
}

.software-7-free {
    font-size: 11px;
    position: absolute;
    margin-left: 334px;
    margin-top: 38px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(156, 156, 166);
}

.software-8 {
    height: 120px;
    width: 390px;
    position: absolute;
    margin-top: 115px;
    margin-left: -5px;
}

.software-8-icon {
    position: absolute;
    margin-left: 20px;
    height: 60px;
    width: 60px;
}

.software-8-name {
    font-size: 14px;
    position: absolute;
    margin-left: 100px;
    width: 190px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(61, 67, 98);
}

.software-8-tiltle {
    font-size: 11px;
    position: absolute;
    margin-left: 100px;
    margin-top: 45px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(165, 165, 181);
}

.software-8-dental {
    height: 28px;
    width: 70px;
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    background-color: white;
    border-radius: 8px;
    border: solid 1px rgb(89, 104, 218);
    color: rgba(4, 31, 234, 0.745);
    margin-left: 320px;
}

.software-8-dental:hover {
    background-color: blue;
    color: white;
}

.software-8-free {
    font-size: 11px;
    position: absolute;
    margin-left: 334px;
    margin-top: 38px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(156, 156, 166);
}

.software-9 {
    height: 120px;
    width: 390px;
    position: absolute;
    margin-top: 200px;
    margin-left: -5px;
}

.software-9-icon {
    position: absolute;
    margin-left: 20px;
    height: 60px;
    width: 60px;
}

.software-9-name {
    font-size: 14px;
    position: absolute;
    margin-left: 100px;
    width: 190px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(61, 67, 98);
}

.software-9-tiltle {
    font-size: 11px;
    position: absolute;
    margin-left: 100px;
    margin-top: 45px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(165, 165, 181);
}

.software-9-dental {
    height: 28px;
    width: 70px;
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    background-color: white;
    border-radius: 8px;
    border: solid 1px rgb(89, 104, 218);
    color: rgba(4, 31, 234, 0.745);
    margin-left: 320px;
}

.software-9-dental:hover {
    background-color: blue;
    color: white;
}

.software-9-free {
    font-size: 11px;
    position: absolute;
    margin-left: 334px;
    margin-top: 38px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(156, 156, 166);
}

.part-4 {
    position: absolute;
    margin-top: 700px;
    height: 60px;
    width: 100%;
}

.trend-mac {

    position: absolute;
    width: 300px;
    margin-left: 40px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(36, 44, 81);
}

.trend-all {
    margin-top: 10px;
    font-size: 15px;
    position: absolute;
    width: 100px;
    margin-left: 600px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(94, 110, 232);
}

.part-5 {
    position: absolute;
    margin-top: 780px;
    height: 60px;
    width: 1260px;
}

.use-mac {
    position: absolute;
    width: 400px;
    margin-left: 680px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(36, 44, 81);
}

.use-all {
    margin-top: 10px;
    font-size: 15px;
    position: absolute;
    width: 97%;
    text-align: right;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(94, 110, 232);
}


.things-logo {
    height: 100px;
    background-color: #E2E4F8;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.things {
    width: 310px;
    height: 280px;
    position: absolute;
    margin-top: 70px;
    margin-left: 20px;
    background-color: white;
    border-radius: 10px;
}

.final {
    width: 310px;
    height: 280px;
    position: absolute;
    margin-top: 70px;
    margin-left: 350px;
    background-color: white;
    border-radius: 10px
}

.clear {
    width: 310px;
    height: 280px;
    position: absolute;
    margin-top: 370px;
    margin-left: 350px;
    background-color: white;
    border-radius: 10px
}

.archive {
    width: 310px;
    height: 280px;
    position: absolute;
    margin-top: 370px;
    margin-left: 20px;
    background-color: white;
    border-radius: 10px;
}

.container-row1 {

    width: 400px;

}

.container-left {

    width: 200px;

    float: left;

    text-align: center;

}

.container-right {

    width: 200px;

    float: left;

    text-align: center;

}












.pic-trend {
    height: 70px;
    width: 70px;
    position: absolute;
    margin-top: 15px;
    margin-left: 20px;
}

.dental-trend {
    height: 28px;
    width: 70px;
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    background-color: white;
    border-radius: 8px;
    border: solid 1px rgb(89, 104, 218);
    color: rgba(4, 31, 234, 0.745);
    margin-left: 200px;
    margin-top: 20px;
}

.dental-trend:hover {
    background-color: blue;
    color: white;
}

.free-trend {
    float: left;
    font-size: 12px;
    position: absolute;
    margin-left: 210px;
    width: 80px;
    margin-top: 60px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(165, 165, 181);
}

.name-trend {
    margin-left: 10px;
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(56, 62, 95);
}

.name-trend:hover {
    color: blue;
}
.tiltle-trend-big
{
    width: 100%;

}
.tiltle-trend {
    font-size: 12px;
    margin-left: 10px;
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(165, 165, 181);
}

.line {
    width: 250px;
    height: 1px;
    margin: 0px 0px 0px 30px;
    margin-top: 20px;
    background-color: gray;
}

.update-trend {
    font-size: 10px;
    margin-left: 10px;
    margin-top: 20px;
    width: 120px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(80, 80, 80);

}

.size-trend {
    font-size: 10px;
    margin-top: 20px;
    width: 120px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(80, 80, 80);
}

.down-trend {
    float: left;
    font-size: 10px;
    margin-left: 5px;
    margin-top: 20px;
    width: 120px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(80, 80, 80);
}

.dev-trend {
    float: left;
    font-size: 10px;
    margin-top: 20px;
    width: 120px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(80, 80, 80);
}

.container-swap-1 {

    width: 400px;
    height: 30px;
    margin-right: 20px;

}

.div_left {

    width: 50%;

    float: left;

    text-align: center;

}

.div_right {

    width: 50%;

    float: left;

    text-align: center;

}

.container-swap-2 {
    width: 400px;
    height: 30px;
    margin-right: 20px;

}

.div_left {

    width: 50%;

    float: left;

    text-align: center;

}

.div_right {

    width: 50%;

    float: left;

    text-align: center;

}

#banner-use {
    margin: 53.5%;
    position: absolute;
    height: 280px;
    width: 45%;
    border-radius: 10px;
    margin-top: 70px;
    background-color: rgb(255, 236, 135);
}

.use-img {
    position: absolute;
    margin-top: 50 px;
    margin-left: 260px;
    max-width: 50%;
    height: auto;
}

.use-text {
    font-size: 20px;
    position: absolute;
    margin-top: 60px;
    margin-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(56, 62, 95);
}

.use-tiltle {
    position: absolute;
    margin-top: 110px;
    margin-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(165, 165, 181);
}

#render-film {
    position: absolute;
    margin-top: 360px;
    margin-left: 900px;
    height: 300px;
    width: 360px
}

.render-tiltle {
    position: relative;
    width: 200px;
    right: 210px;
    top: 40px;
}

.render-name {
    position: absolute;
    width: 300px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(36, 44, 81);
}

.render-all {
    font-size: 16px;
    position: absolute;
    margin-left: 460px;
    width: 60px;
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(94, 110, 232);
}

.comp {
    position: absolute;
    margin-top: 100px;

}

.comp-pic {
    height: 70px;
    width: 70px;
    position: relative;
    right: 210px;
    top: 10px;
}

.comp-name {
    position: relative;
    bottom: 60px;
    right: 100px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(56, 62, 95);
}

.comp-tiltle {
    position: relative;
    bottom: 50px;
    right: 100px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(165, 165, 181);
}

.comp-dental {
    position: relative;
    left: 230px;
    bottom: 100px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 8px;
    background-color: white;
    border: solid 1px rgb(76, 95, 230);
    color: rgb(76, 95, 230);
    font-weight: bolder;
    height: 28px;
    width: 70px;

}

.comp-dental:hover {
    background-color: blue;
    color: white;
}

.comp-free {
    font-size: 11px;
    position: relative;
    left: 242px;
    bottom: 80px;
    width: 60px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(165, 165, 181);
}

.mot {
    position: absolute;
    margin-top: 212px;
}

.mot-pic {
    height: 70px;
    width: 70px;
    position: relative;
    right: 210px;
    top: 10px;
}

.mot-name {
    position: relative;
    bottom: 60px;
    right: 100px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(56, 62, 95);
}

.mot-tiltle {
    position: relative;
    bottom: 50px;
    right: 100px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(165, 165, 181);
}

.mot-dental {
    position: relative;
    left: 230px;
    bottom: 100px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 8px;
    background-color: white;
    border: solid 1px rgb(76, 95, 230);
    color: rgb(76, 95, 230);
    font-weight: bolder;
    height: 28px;
    width: 70px;
}

.mot-dental:hover {
    background-color: blue;
    color: white;
}

.mot-free {
    font-size: 11px;
    position: relative;
    left: 242px;
    bottom: 80px;
    width: 60px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(165, 165, 181);
}

#bug-tiltle {
    position: absolute;
    height: 60px;
    width: 1260px;
    margin-top: 700px;
}

.colect-bug {
    position: absolute;
    margin-left: 40px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(36, 44, 81);
}

.all-bug {
    width: 100%;
    margin-left:94% ;
    margin-top: 10px;
    position: absolute;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(94, 110, 232);
}

#bug-1 {
    height: 300px;
    width: 400px;
    position: absolute;
    margin-left: -20px;
    margin-top: 780px;
}

.bug1-pic {
    position: absolute;
    margin-left: 40px;
    border-radius: 10px;
    width: 320px;
    height: 207px;
}

.bug1-name {
    position: absolute;
    margin-top: 230px;
    margin-left: 40px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(56, 62, 95);
}

.bug1-how {
    position: absolute;
    margin-top: 260px;
    margin-left: 40px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(165, 165, 181);
}

#bug-2 {
    height: 300px;
    width: 400px;
    position: absolute;
    margin-left: 400px;
    margin-top: 780px;
}

.bug2-pic {
    position: absolute;
    margin-left: 60px;
    border-radius: 10px;
    height: 207px;
    width: 320px;
    object-fit: cover;
}

.bug2-name {
    position: absolute;
    margin-top: 230px;
    margin-left: 60px;
    width: 300px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(56, 62, 95);
}

.bug2-how {
    position: absolute;
    margin-top: 280px;
    margin-left: 60px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(165, 165, 181);
}

#bug-3 {
    height: 300px;
    width: 400px;
    position: absolute;
    margin-top: 780px;
    margin-left: 820px;
}

.bug3-pic {
    position: absolute;
    margin-left: 65px;
    border-radius: 10px;
    height: 207px;
    width: 305px;
    object-fit: cover;
}

.bug3-name {
    position: absolute;
    margin-top: 230px;
    margin-left: 65px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(56, 62, 95);
}

.bug3-how {
    position: absolute;
    margin-top: 260px;
    margin-left: 65px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(165, 165, 181);
}

#new-game-tiltle{
    position: absolute;
    height: 60px;
    width: 1260px;
    margin-top: 1100px;
}
.new-game{
    position: absolute;
    margin-left: 40px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(36,44,81);
}
.all-game{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(94,110,232);
    margin-top: 10px;
    position: absolute;
    margin-left: 1150px;
    font-size: 15px;
}
#big-game{
    margin-left: -20px;
    margin-top: 1180px;
    height:600px ;
    width: 600px;
    position: absolute;
}
.biggame-pic{
    border-radius: 10px;
    margin-left: 40px;
    height: 580px;
    width: 600px;
    position: absolute;
    object-fit: cover;
}
.cate-action{
    height: 25px;
    width: 70px;
    border-color: white;
    position: absolute;
    margin-left: 60px;
    margin-top: 300px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
    background-color: white;
    color:rgb(165,165,181);
}
.cate-action:hover{
    background-color: blue;
    color: white;
}
.biggame-name{
    line-height: 50px;
    position: absolute;
    color: white;
    margin-left: 60px;
    margin-top: 360px;
    width: 490px;
    font-family: Arial, Helvetica, sans-serif;
}
.bigame-name:hover{
    color: rgb(76,95,230);
}
.down-icon{
    position: absolute;
    color: white;
    margin-left: 60px;
    margin-top: 500px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(165,165,181);
}
.biggame-dental{
    height: 30px;
    width: 100px;
    position: absolute;
    margin-left: 520px;
    margin-top: 480px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
    background-color: white;
    border: solid 1px rgb(76,95,230) ;
    color:rgb(76,95,230);
    font-weight: bolder;
}
.biggame-dental:hover{
    background-color: blue;
    color: white;
}
.biggame-free{
    position: absolute;
    color: white;
    margin-left: 545px;
    margin-top: 520px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(165,165,181);
}
#bird-game{
    position: absolute;
    height: 180px;
    width: 540px;
    background-color:white;
    border-radius: 10px;
    margin-top: 1180px;
    margin-left: 650px;
}
.bird-pic{
    border-radius: 10px;
    position: absolute;
    height: 180px;
    width: 230px;
}
.bird-cate{
    border-color: white;
    height: 25px;
    width: 150px;
    position: absolute;
    margin-left: 260px;
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
    background-color: white;
    border: solid 1px rgb(165,165,181) ;
    color:rgb(165,165,181);
}
.bird-cate:hover{
    background-color: blue;
    color: white;
}
.bird-name{
    position: absolute;
    margin-left: 255px;
    margin-top: 60px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(56,62,95);
}
.bird-name:hover{
    color: rgb(76,95,230);
}
.bird-down{
    position: absolute;
    margin-left: 255px;
    margin-top: 120px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(165,165,181);
}

.bird-dental{
    border-radius: 8px;
    height: 28px;
    width: 70px;
    position: absolute;
    margin-left: 460px;
    margin-top: 100px;
    font-family: Arial, Helvetica, sans-serif;
    
    background-color: white;
    border: solid 1px rgb(76, 95, 230);
    color: rgb(76, 95, 230);
    font-weight: bolder;

}
.bird-dental:hover{
    background-color: blue;
    color: white;
}
.bird-free{
    position: absolute;
    margin-left: 470px;
    margin-top: 135px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(165,165,181);
}
#simul-game{
    position: absolute;
    height: 180px;
    width: 540px;
    background-color:white;
    border-radius: 10px;
    margin-top: 1380px;
    margin-left: 650px;
}
.simul-pic{
    border-radius: 10px;
    position: absolute;
    height: 180px;
    width: 230px;
}
.simul-cate{
    border-color: white;
    height: 25px;
    width: 150px;
    position: absolute;
    margin-left: 260px;
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
    background-color: white;
    border: solid 1px rgb(165,165,181) ;
    color:rgb(165,165,181);
}
.simul-cate:hover{
    background-color: blue;
    color: white;
}
.simul-name{
    position: absolute;
    margin-left: 255px;
    margin-top: 60px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(56,62,95);
}
.simul-name:hover{
    color: rgb(76,95,230);
}
.simul-down{
    position: absolute;
    margin-left: 255px;
    margin-top: 120px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(165,165,181);
}
.simul-dental{
    border-radius: 8px;
    height: 28px;
    width: 70px;
    position: absolute;
    margin-left: 460px;
    position: absolute;
    margin-top: 100px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    border: solid 1px rgb(76,95,230) ;
    color:rgb(76,95,230);
    font-weight: bolder;
}
.simul-dental:hover{
    background-color: blue;
    color: white;
}
.simul-free{
    position: absolute;
    margin-left: 470px;
    margin-top: 135px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(165,165,181);
}
#outlast-game{
    position: absolute;
    height: 180px;
    width: 540px;
    background-color:white;
    border-radius: 10px;
    margin-top: 1580px;
    margin-left: 650px;
}
.outlast-pic{
    border-radius: 10px;
    position: absolute;
    height: 180px;
    width: 230px;
}
.outlast-cate{
    border-color: white;
    height: 25px;
    width: 75px;
    position: absolute;
    margin-left: 260px;
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
    background-color: white;
    border: solid 1px rgb(165,165,181) ;
    color:rgb(165,165,181);
}
.outlast-cate:hover{
    background-color: blue;
    color: white;
}
.outlast-name{
    position: absolute;
    margin-left: 255px;
    margin-top: 60px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(56,62,95);
}
.outlast-name:hover{
    color: rgb(76,95,230);
}
.outlast-down{
    position: absolute;
    margin-left: 255px;
    margin-top: 120px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(165,165,181);
}
.outlast-dental{
    border-radius: 8px;
    height: 28px;
    width: 70px;
    position: absolute;
    margin-left: 460px;
    position: absolute;
    margin-top: 100px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    border: solid 1px rgb(76,95,230) ;
    color:rgb(76,95,230);
    font-weight: bolder;
}
.outlast-dental:hover{
    background-color: blue;
    color: white;
}
.outlast-free{
    position: absolute;
    margin-left: 470px;
    margin-top: 135px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(165,165,181);
}
#hot-game{
    position: absolute;
    height: 60px;
    width: 1260px;
    margin-top: 1810px;
}
.hotgame-tiltle{
    position: absolute;
    margin-left: 40px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(36,44,81);
}
.hotgame-all{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(94,110,232);
    margin-top: 10px;
    position: absolute;
    margin-left: 1150px;
    font-size: 15px;
    
}
#farm-game{
    position: absolute;
    height: 350px;
    width: 197px;
    margin-top: 1890px;
    margin-left: -20px;
}
.farmgame-pic{
    position: absolute;
    width: 350px;
    height: 197px;
    object-fit: cover;
    border-radius: 10px;
    margin-left: 40px;
    color: white;
}

.farmgame-cate{
    height: 20px;
    width: 100px;
    position: absolute;
    margin-left: 40px;
    margin-top: 30px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
    background-color: white;
    border: solid 1px rgb(165,165,181) ;
    color:rgb(165,165,181);
}
.farmgame-cate:hover{
    background-color: blue;
    color: white;
}
.farmgame-name{
    width: 200px;;
    position: absolute;
    margin-left: 40px;
    margin-top: 70px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(56,62,95);
}
.farmgame-name:hover{
    color: rgb(76,95,230);
}
.farmgame-date{
    position: absolute;
    margin-left: 40px;
    margin-top: 110px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(80,80,80);
}
#pac-game{
    position: absolute;
    height: 350px;
    width: 500px;
    margin-top: 1890px;
   
    margin-left: 430px;
}
.pac-pic{
    position: absolute;
    width: 350px;
    height: 197px;
    object-fit: cover;
    border-radius: 10px;
}
.pac-cate{
    height: 20px;
    width: 130px;
    position: absolute;
    margin-top: 30px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
    background-color: white;
    border: solid 1px rgb(165,165,181) ;
    color:rgb(165,165,181);
}
.pac-cate:hover{
    background-color: blue;
    color: white;
}
.pac-name{
    position: absolute;
    margin-top: 70px;
    width: 300px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(56,62,95);
}
.pac-name:hover{
    color: rgb(76,95,230);
}
.pac-date{
    position: absolute;
    margin-top: 110px;
    width: 200px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(80,80,80);
}
#truck-game{
    position: absolute;
    height: 350px;
    width: 300px;
    margin-top: 1890px;
    margin-left: 840px;
}
.truc-pic{
    position: absolute;
    width: 350px;
    height: 197px;
    object-fit: cover;
    border-radius: 10px;
}


.truc-cate{
    height: 20px;
    width: 50px;
    position: absolute;
    margin-top: 30px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
    background-color: white;
    border: solid 1px rgb(165,165,181) ;
    color:rgb(165,165,181);
}
.truc-cate:hover{
    background-color: blue;
    color: white;
}
.truc-cate-2{
    height: 20px;
    width: 100px;
    position: absolute;
    margin-left: 60px;
    margin-top: 30px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
    background-color: white;
    border: solid 1px rgb(165,165,181) ;
    color:rgb(165,165,181);
}
.truc-cate-2:hover{
    background-color: blue;
    color: white;
}
.truc-name{
    position: absolute;
    margin-top: 70px;
    width: 300px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(56,62,95);
}
.truc-name:hover{
    color: rgb(76,95,230);
}
.truc-date{
    position: absolute;
    margin-top: 110px;
    width: 200px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(80,80,80);
}
#create-web{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    margin-top:3040px;
}

.image-container {
    position: relative;
    width: 350px;
    height: 197px;
    border-radius: 10px;
}
.image-container .after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    color: #FFF;
}
.image-container:hover .after {
    display: block;
    border-radius: 10px;
    background: rgba(12, 12, 12, 0.6);
}
.fa-regular
{
   font-size:100px;
   margin-left: 130px;
   margin-top: 50px;
}
.image-container-2{
    position: relative;
    width: 350px;
    height: 197px;
    border-radius: 10px;
}
.image-container-2 .after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    color: #FFF;
}
.image-container-2:hover .after {
    display: block;
    border-radius: 10px;
    margin-left: 40px;
    background: rgba(12, 12, 12, 0.6);
}
.render-all:hover,.hotgame-all:hover,.use-all:hover,.all-bug:hover,.all-game:hover,.trend-all:hover,.part-2-all :hover{
    font-weight: bold;
    color: black;
}
